* text=auto !eol
MCpp/AUTHORS -text
MCpp/CHANGELOG -text
MCpp/INSTALL -text
MCpp/LICENSE -text
MCpp/README -text
MCpp/doc/MC++.dox -text
MCpp/doc/MC++.txt -text
MCpp/doc/fig/MC-1D.g -text
MCpp/doc/fig/MC-1D.out -text
MCpp/doc/fig/MC-1D_linearize.png -text
MCpp/doc/fig/MC-1D_relax.png -text
MCpp/doc/fig/MC-TM-2D.png -text
MCpp/doc/fig/MCTM-1D.png -text
MCpp/doc/fig/McCormick_relax.eps -text
MCpp/doc/fig/McCormick_relax.png -text
MCpp/doc/fig/McCormick_relax.ps -text
MCpp/doc/fig/McCormick_relax.tex -text
MCpp/doc/fig/McCormickrelax.eps -text
MCpp/doc/fig/McCormickrelax.fig -text
MCpp/doc/fig/SB-2D.g -text
MCpp/doc/fig/SB-2D.out -text
MCpp/doc/fig/SB-2D_function.png -text
MCpp/doc/fig/SB-2D_spectral.png -text
MCpp/doc/fig/SBMC-2D.g -text
MCpp/doc/fig/TM-1D.png -text
MCpp/doc/fig/TM-2D.png -text
MCpp/doc/fig/TM-MC-1D.g -text
MCpp/doc/fig/TM-MC-1D.out -text
MCpp/doc/fig/TM-MC-2D.png -text
MCpp/doc/fig/Taylor_model.eps -text
MCpp/doc/fig/Taylor_model.png -text
MCpp/doc/fig/Taylor_model.ps -text
MCpp/doc/fig/Taylor_model.tex -text
MCpp/doc/fig/Taylormodel.eps -text
MCpp/doc/fig/Taylormodel.fig -text
MCpp/doc/html/MC-1D_linearize.png -text
MCpp/doc/html/MC-1D_relax.png -text
MCpp/doc/html/MC-TM-2D.png -text
MCpp/doc/html/MCTM-1D.png -text
MCpp/doc/html/McCormick_relax.png -text
MCpp/doc/html/SB-2D_function.png -text
MCpp/doc/html/SB-2D_spectral.png -text
MCpp/doc/html/TM-1D.png -text
MCpp/doc/html/TM-2D.png -text
MCpp/doc/html/TM-MC-2D.png -text
MCpp/doc/html/Taylor_model.png -text
MCpp/doc/html/annotated.html -text
MCpp/doc/html/annotated.js -text
MCpp/doc/html/bc_s.png -text
MCpp/doc/html/bug.html -text
MCpp/doc/html/classTVar-members.html -text
MCpp/doc/html/classTVar.html -text
MCpp/doc/html/classTVar.js -text
MCpp/doc/html/classes.html -text
MCpp/doc/html/classmc_1_1Interval-members.html -text
MCpp/doc/html/classmc_1_1Interval.html -text
MCpp/doc/html/classmc_1_1Interval.js -text
MCpp/doc/html/classmc_1_1Interval_1_1Exceptions-members.html -text
MCpp/doc/html/classmc_1_1Interval_1_1Exceptions.html -text
MCpp/doc/html/classmc_1_1Interval_1_1Exceptions.js -text
MCpp/doc/html/classmc_1_1Interval__coll__graph.map -text
MCpp/doc/html/classmc_1_1Interval__coll__graph.md5 -text
MCpp/doc/html/classmc_1_1Interval__coll__graph.png -text
MCpp/doc/html/classmc_1_1McCormick-members.html -text
MCpp/doc/html/classmc_1_1McCormick.html -text
MCpp/doc/html/classmc_1_1McCormick.js -text
MCpp/doc/html/classmc_1_1McCormick_1_1Exceptions-members.html -text
MCpp/doc/html/classmc_1_1McCormick_1_1Exceptions.html -text
MCpp/doc/html/classmc_1_1McCormick_1_1Exceptions.js -text
MCpp/doc/html/classmc_1_1McCormick__coll__graph.map -text
MCpp/doc/html/classmc_1_1McCormick__coll__graph.md5 -text
MCpp/doc/html/classmc_1_1McCormick__coll__graph.png -text
MCpp/doc/html/classmc_1_1Specbnd-members.html -text
MCpp/doc/html/classmc_1_1Specbnd.html -text
MCpp/doc/html/classmc_1_1Specbnd.js -text
MCpp/doc/html/classmc_1_1Specbnd_1_1Exceptions-members.html -text
MCpp/doc/html/classmc_1_1Specbnd_1_1Exceptions.html -text
MCpp/doc/html/classmc_1_1Specbnd_1_1Exceptions.js -text
MCpp/doc/html/classmc_1_1Specbnd__coll__graph.map -text
MCpp/doc/html/classmc_1_1Specbnd__coll__graph.md5 -text
MCpp/doc/html/classmc_1_1Specbnd__coll__graph.png -text
MCpp/doc/html/classmc_1_1Structure-members.html -text
MCpp/doc/html/classmc_1_1Structure.html -text
MCpp/doc/html/classmc_1_1Structure.js -text
MCpp/doc/html/classmc_1_1Structure_1_1Exceptions-members.html -text
MCpp/doc/html/classmc_1_1Structure_1_1Exceptions.html -text
MCpp/doc/html/classmc_1_1Structure_1_1Exceptions.js -text
MCpp/doc/html/classmc_1_1TModel-members.html -text
MCpp/doc/html/classmc_1_1TModel.html -text
MCpp/doc/html/classmc_1_1TModel.js -text
MCpp/doc/html/classmc_1_1TModel_1_1Exceptions-members.html -text
MCpp/doc/html/classmc_1_1TModel_1_1Exceptions.html -text
MCpp/doc/html/classmc_1_1TModel_1_1Exceptions.js -text
MCpp/doc/html/classmc_1_1TModel_1_1Exceptions__coll__graph.map -text
MCpp/doc/html/classmc_1_1TModel_1_1Exceptions__coll__graph.md5 -text
MCpp/doc/html/classmc_1_1TModel_1_1Exceptions__coll__graph.png -text
MCpp/doc/html/classmc_1_1TModel__coll__graph.map -text
MCpp/doc/html/classmc_1_1TModel__coll__graph.md5 -text
MCpp/doc/html/classmc_1_1TModel__coll__graph.png -text
MCpp/doc/html/classmc_1_1TVar-members.html -text
MCpp/doc/html/classmc_1_1TVar.html -text
MCpp/doc/html/classmc_1_1TVar.js -text
MCpp/doc/html/closed.png -text
MCpp/doc/html/convex_concave_relax.png -text
MCpp/doc/html/dir_b88f929c976ac3ce003e58a80e9e38a7.html -text
MCpp/doc/html/dir_b88f929c976ac3ce003e58a80e9e38a7.js -text
MCpp/doc/html/dir_b88f929c976ac3ce003e58a80e9e38a7_dep.map -text
MCpp/doc/html/dir_b88f929c976ac3ce003e58a80e9e38a7_dep.md5 -text
MCpp/doc/html/dir_b88f929c976ac3ce003e58a80e9e38a7_dep.png -text
MCpp/doc/html/dir_d724839a2e971b57a522a5aeab34383d.html -text
MCpp/doc/html/dir_d724839a2e971b57a522a5aeab34383d_dep.map -text
MCpp/doc/html/dir_d724839a2e971b57a522a5aeab34383d_dep.md5 -text
MCpp/doc/html/dir_d724839a2e971b57a522a5aeab34383d_dep.png -text
MCpp/doc/html/dirs.html -text
MCpp/doc/html/dirs.js -text
MCpp/doc/html/doxygen.css -text
MCpp/doc/html/doxygen.png -text
MCpp/doc/html/files.html -text
MCpp/doc/html/files.js -text
MCpp/doc/html/ftv2blank.png -text
MCpp/doc/html/ftv2doc.png -text
MCpp/doc/html/ftv2folderclosed.png -text
MCpp/doc/html/ftv2folderopen.png -text
MCpp/doc/html/ftv2lastnode.png -text
MCpp/doc/html/ftv2link.png -text
MCpp/doc/html/ftv2mlastnode.png -text
MCpp/doc/html/ftv2mnode.png -text
MCpp/doc/html/ftv2node.png -text
MCpp/doc/html/ftv2plastnode.png -text
MCpp/doc/html/ftv2pnode.png -text
MCpp/doc/html/ftv2splitbar.png -text
MCpp/doc/html/ftv2vertline.png -text
MCpp/doc/html/functions.html -text
MCpp/doc/html/functions_0x62.html -text
MCpp/doc/html/functions_0x63.html -text
MCpp/doc/html/functions_0x64.html -text
MCpp/doc/html/functions_0x65.html -text
MCpp/doc/html/functions_0x66.html -text
MCpp/doc/html/functions_0x67.html -text
MCpp/doc/html/functions_0x68.html -text
MCpp/doc/html/functions_0x69.html -text
MCpp/doc/html/functions_0x6c.html -text
MCpp/doc/html/functions_0x6d.html -text
MCpp/doc/html/functions_0x6e.html -text
MCpp/doc/html/functions_0x6f.html -text
MCpp/doc/html/functions_0x70.html -text
MCpp/doc/html/functions_0x72.html -text
MCpp/doc/html/functions_0x73.html -text
MCpp/doc/html/functions_0x74.html -text
MCpp/doc/html/functions_0x75.html -text
MCpp/doc/html/functions_0x77.html -text
MCpp/doc/html/functions_0x7e.html -text
MCpp/doc/html/functions_dup.js -text
MCpp/doc/html/functions_enum.html -text
MCpp/doc/html/functions_eval.html -text
MCpp/doc/html/functions_func.html -text
MCpp/doc/html/functions_vars.html -text
MCpp/doc/html/graph_legend.html -text
MCpp/doc/html/graph_legend.md5 -text
MCpp/doc/html/graph_legend.png -text
MCpp/doc/html/group__INTERVAL.html -text
MCpp/doc/html/group__MCCORMICK.html -text
MCpp/doc/html/group__SPECBND.html -text
MCpp/doc/html/group__Structure.html -text
MCpp/doc/html/group__TAYLOR.html -text
MCpp/doc/html/group__TAYLOR_gab374c8388c9cad98e08f05ce093e95d6_icgraph.map -text
MCpp/doc/html/group__TAYLOR_gab374c8388c9cad98e08f05ce093e95d6_icgraph.md5 -text
MCpp/doc/html/group__TAYLOR_gab374c8388c9cad98e08f05ce093e95d6_icgraph.png -text
MCpp/doc/html/index.html -text
MCpp/doc/html/interval_8hpp_source.html -text
MCpp/doc/html/jquery.js -text
MCpp/doc/html/mccormick_8h_source.html -text
MCpp/doc/html/mccormick_8hpp_source.html -text
MCpp/doc/html/mcfadbad_8hpp_source.html -text
MCpp/doc/html/mcfilib_8hpp_source.html -text
MCpp/doc/html/mcfunc_8hpp_source.html -text
MCpp/doc/html/mclapack_8hpp_source.html -text
MCpp/doc/html/mcop_8hpp_source.html -text
MCpp/doc/html/mcprofil_8hpp_source.html -text
MCpp/doc/html/modules.html -text
MCpp/doc/html/modules.js -text
MCpp/doc/html/nav_f.png -text
MCpp/doc/html/nav_h.png -text
MCpp/doc/html/navtree.css -text
MCpp/doc/html/navtree.js -text
MCpp/doc/html/navtreeindex.js -text
MCpp/doc/html/open.png -text
MCpp/doc/html/page_INTERVAL.html -text
MCpp/doc/html/page_MCCORMICK.html -text
MCpp/doc/html/page_SPECBND.html -text
MCpp/doc/html/page_STRUCTURE.html -text
MCpp/doc/html/page_TAYLOR.html -text
MCpp/doc/html/pages.html -text
MCpp/doc/html/pages.js -text
MCpp/doc/html/resize.js -text
MCpp/doc/html/specbnd_8hpp_source.html -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1Interval_01_4-members.html -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1Interval_01_4.html -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1Interval_01_4.js -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1McCormick_3_01T_01_4_01_4-members.html -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1McCormick_3_01T_01_4_01_4.html -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1McCormick_3_01T_01_4_01_4.js -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1Specbnd_3_01T_01_4_01_4-members.html -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1Specbnd_3_01T_01_4_01_4.html -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1Specbnd_3_01T_01_4_01_4.js -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1Structure_01_4-members.html -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1Structure_01_4.html -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1Structure_01_4.js -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1TVar_3_01T_01_4_01_4-members.html -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1TVar_3_01T_01_4_01_4.html -text
MCpp/doc/html/structfadbad_1_1Op_3_01mc_1_1TVar_3_01T_01_4_01_4.js -text
MCpp/doc/html/structfadbad_1_1TTypeNamePOW3-members.html -text
MCpp/doc/html/structfadbad_1_1TTypeNamePOW3.html -text
MCpp/doc/html/structfadbad_1_1TTypeNamePOW3.js -text
MCpp/doc/html/structmc_1_1Interval_1_1Options-members.html -text
MCpp/doc/html/structmc_1_1Interval_1_1Options.html -text
MCpp/doc/html/structmc_1_1Interval_1_1Options.js -text
MCpp/doc/html/structmc_1_1McCormick_1_1Options-members.html -text
MCpp/doc/html/structmc_1_1McCormick_1_1Options.html -text
MCpp/doc/html/structmc_1_1McCormick_1_1Options.js -text
MCpp/doc/html/structmc_1_1Op-members.html -text
MCpp/doc/html/structmc_1_1Op.html -text
MCpp/doc/html/structmc_1_1Op.js -text
MCpp/doc/html/structmc_1_1Op_3_01_1_1INTERVAL_01_4-members.html -text
MCpp/doc/html/structmc_1_1Op_3_01_1_1INTERVAL_01_4.html -text
MCpp/doc/html/structmc_1_1Op_3_01_1_1INTERVAL_01_4.js -text
MCpp/doc/html/structmc_1_1Op_3_01filib_1_1interval_3_01double_00_01filib_1_1native__switched_00_01filib_1_1i__bc72813d175a722c60301464934c7cc4.html -text
MCpp/doc/html/structmc_1_1Op_3_01filib_1_1interval_3_01double_00_01filib_1_1native__switched_00_01filib_1_1i__mode__extended_01_4_01_4.html -text
MCpp/doc/html/structmc_1_1Op_3_01filib_1_1interval_3_01double_00_01filib_1_1native__switched_00_01filib_1_1i__mode__extended_01_4_01_4.js -text
MCpp/doc/html/structmc_1_1Op_3_01filib_1_1interval_3_01double_01_4_01_4-members.html -text
MCpp/doc/html/structmc_1_1Op_3_01filib_1_1interval_3_01double_01_4_01_4.html -text
MCpp/doc/html/structmc_1_1Op_3_01filib_1_1interval_3_01double_01_4_01_4.js -text
MCpp/doc/html/structmc_1_1Op_3_01mc_1_1Interval_01_4-members.html -text
MCpp/doc/html/structmc_1_1Op_3_01mc_1_1Interval_01_4.html -text
MCpp/doc/html/structmc_1_1Op_3_01mc_1_1Interval_01_4.js -text
MCpp/doc/html/structmc_1_1Op_3_01mc_1_1McCormick_3_01T_01_4_01_4-members.html -text
MCpp/doc/html/structmc_1_1Op_3_01mc_1_1McCormick_3_01T_01_4_01_4.html -text
MCpp/doc/html/structmc_1_1Op_3_01mc_1_1McCormick_3_01T_01_4_01_4.js -text
MCpp/doc/html/structmc_1_1Op_3_01mc_1_1Specbnd_3_01T_01_4_01_4-members.html -text
MCpp/doc/html/structmc_1_1Op_3_01mc_1_1Specbnd_3_01T_01_4_01_4.html -text
MCpp/doc/html/structmc_1_1Op_3_01mc_1_1Specbnd_3_01T_01_4_01_4.js -text
MCpp/doc/html/structmc_1_1Op_3_01mc_1_1TVar_3_01T_01_4_01_4-members.html -text
MCpp/doc/html/structmc_1_1Op_3_01mc_1_1TVar_3_01T_01_4_01_4.html -text
MCpp/doc/html/structmc_1_1Op_3_01mc_1_1TVar_3_01T_01_4_01_4.js -text
MCpp/doc/html/structmc_1_1Options-members.html -text
MCpp/doc/html/structmc_1_1Options.html -text
MCpp/doc/html/structmc_1_1Options.js -text
MCpp/doc/html/structmc_1_1Specbnd_1_1Options-members.html -text
MCpp/doc/html/structmc_1_1Specbnd_1_1Options.html -text
MCpp/doc/html/structmc_1_1Specbnd_1_1Options.js -text
MCpp/doc/html/structmc_1_1TModel_1_1Options-members.html -text
MCpp/doc/html/structmc_1_1TModel_1_1Options.html -text
MCpp/doc/html/structmc_1_1TModel_1_1Options.js -text
MCpp/doc/html/structure_8h_source.html -text
MCpp/doc/html/structure_8hpp_source.html -text
MCpp/doc/html/tab_a.png -text
MCpp/doc/html/tab_b.png -text
MCpp/doc/html/tab_h.png -text
MCpp/doc/html/tab_s.png -text
MCpp/doc/html/tabs.css -text
MCpp/doc/html/tmodel_8h_source.html -text
MCpp/doc/html/tmodel_8hpp_source.html -text
MCpp/doc/html/~mccormick_8hpp_source.html -text
MCpp/doc/html/~tmodel_8hpp_source.html -text
MCpp/examples/MC-1D/MC-1D.g -text
MCpp/examples/MC-1D/main.cpp -text
MCpp/examples/MC-1D/makefile -text
MCpp/examples/MC-2D/MC-2D.g -text
MCpp/examples/MC-2D/main.cpp -text
MCpp/examples/MC-2D/makefile -text
MCpp/examples/SB-2D/SB-2D.g -text
MCpp/examples/SB-2D/main.cpp -text
MCpp/examples/SB-2D/makefile -text
MCpp/examples/TM-1D/TM-1D.g -text
MCpp/examples/TM-1D/main.cpp -text
MCpp/examples/TM-1D/makefile -text
MCpp/examples/TM-2D/TM-2D.g -text
MCpp/examples/TM-2D/main.cpp -text
MCpp/examples/TM-2D/makefile -text
MCpp/src/3rdparty/fadbad++/badiff.h -text
MCpp/src/3rdparty/fadbad++/fadbad.h -text
MCpp/src/3rdparty/fadbad++/fadbad.mk -text
MCpp/src/3rdparty/fadbad++/fadiff.h -text
MCpp/src/3rdparty/fadbad++/tadiff.h -text
MCpp/src/makefile -text
MCpp/src/makeoptions.mk -text
MCpp/src/mc/interval.hpp -text
MCpp/src/mc/mc.mk -text
MCpp/src/mc/mccormick.hpp -text
MCpp/src/mc/mcfadbad.hpp -text
MCpp/src/mc/mcfilib.hpp -text
MCpp/src/mc/mcfunc.hpp -text
MCpp/src/mc/mclapack.hpp -text
MCpp/src/mc/mcop.hpp -text
MCpp/src/mc/mcprofil.hpp -text
MCpp/src/mc/specbnd.hpp -text
MCpp/src/mc/tmodel.hpp -text
MCpp/src/test/interval_test.hpp -text
MCpp/src/test/main.cpp -text
MCpp/src/test/mccormick_test.hpp -text
MCpp/src/test/specbnd_test.hpp -text
MCpp/src/test/test.mk -text
MCpp/src/test/tmodel_test.hpp -text
